<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Home</title>
</head>

<body>
    <div class="container">
        <div class="container row">
            <div class="col-8">
                <h1>Mediary</h1>
                <h3>Your Medical Diary</h3>
                <br>
                <h2> Welcome, {{user.first_name}} {{user.last_name}}</h2>
            </div>


            <div class="col">
                <div class="container">
                    <a href="/logout" class="btn btn-outline-secondary">Log Out</a>
                </div>
            </div>
        </div>

        <div class="btn-group" role="toolbar" aria-label="Basic outlined example">
            <a href="/mediarys/home" class="btn btn-secondary">Home </a>
            <a href="/mediarys/medications" class="btn btn-secondary">Medications </a>
            <a href="/mediarys/appointment" class="btn btn-secondary">Appointments </a>
        </div>


        <br>
        <br>

        <div>
            <h2>New Medications? <a href="/mediarys/medication/create" class="btn btn-outline-secondary">Add
                    Medications</a>
            </h2>
        </div>

        <br>

        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th>Medication Name</th>
                    <th>Prescribe by: </th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                {% for medication in medications: %}
                {% if medication.user.id == user.id: %}
                <tr>
                    <td>{{medication.medication_name}}</td>
                    <td>{{medication.prescribe_by}}</td>
                    <td>
                        <a href="/medication/{{medication.id}}" class="btn btn btn-outline-light">Details</a>
                        <a href="/medication/delete/{{medication.id}}" class="btn btn btn-outline-light">Delete</a>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}


        </table>


    </div>

</body>

</html>